*{
	margin: 0 auto;
}

body{
	background-color: #eeeeee;
	font-family: 'Muli', sans-serif;
}

footer{
	background-color: #eeeeee;
	bottom: 0;
	clear: left;
	color: #bb8fa9;
	height: 1.3rem;
	margin-left: 5%;
	margin-top: 4rem;
	padding: 0.3rem 0;
	position: fixed;
	width: 100%;
}

footer a{
	color: #bb8fa9;
	text-decoration: none;
}

.link:hover{
	font-style: italic;
	font-weight: 600;
	letter-spacing: 0.02rem;
}

form .group{
	margin-bottom: 0.5rem;
}

h1{
	color: #560764;
	font-family: 'Srisakdi', cursive;
	font-size: 4rem;
	margin: 2.5rem 0;
}

h4{
	color: #bb8fa9;
	font-size: 1.4rem;
}

hr{	
	background-color: #cccccc;
	border: none;
	height: 1px;
	margin: 2rem 0;
}

img{
	border-radius: 1rem;
	display: none;
	float: left;
	margin-left: 5%;
	opacity: 0.9;
	width: 90%;
}

img:hover{
	opacity: 1;
}

label{
	color: #bb8fa9;
	margin-left: 0.5rem;
}

.body p{
	color: #444444;
	font-size: 1.1rem;
	padding-bottom: 1rem;
	user-select: none;
}

.container{
	border-radius: 1rem;
	margin: 0 auto;
	width: 90%;
}

.header{
	text-align: center;
}

@media only screen and (min-width: 480px){
	img{
		margin-left: 15%;
		width: 70%;
	}
}

@media only screen and (min-width: 600px){
	img{
		margin: 5%;
		width: 40%;
	}
}

@media only screen and (min-width: 768px){
	img{
		margin: 1.66%;
		width: 30%;
	}
}

@media only screen and (min-width: 992px){


}

@media only screen and (min-width: 1200px){
	img{
		margin: 2.5%;
		width: 20%;
	}
}













/*CUSTOM CHECKBOX*/

.cont{
	padding-left: 1rem;
	cursor: pointer;
	user-select: none;
	position: relative;
	display: block;
}

.cont input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	display: none;
}

.checkmark{
	border: 1px solid #bb8fa9;
	position: absolute;
	top: 0.2rem;
	left: -0.5rem;
	height: 0.8rem;
	width: 0.8rem;
	background-color: #fff;
	border-radius: 3px;
}

.cont:hover input ~ .checkmark{
	background-color: #bb8fa9;
}

.cont input:checked ~ .checkmark{
	background-color: #bb8fa9;
}

.checkmark:after{
	content: "";
	position: absolute;
	display: none;
}

.cont input:checked ~ .checkmark:after{
	display: block;
}

.cont .checkmark:after{
	left: 6px;
	bottom: 1px;
	width: 4px;
	height: 15px;
	border:solid #560764;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}	













