*{
	margin: 0 auto;
}

body{
	background-color: #fff08e;

	font-family: 'Muli', sans-serif;
}

footer{
	background-color: #fff08e;
	color: #52aeff;
	bottom: 0;
	clear: left;
	margin-top: 4rem;
	position: fixed;
	width: 100%;
	margin-left: 5%;
	padding: 0.3rem 0;
	height: 1.3rem;
}

footer a{
	color: #52aeff;
	text-decoration: none;
}

footer:hover .link{
	font-style: italic;
	font-weight: 600;
	letter-spacing: 0.02rem;
}

form .group{
	margin-bottom: 0.5rem;
}

h1{
	color: #ff5c46;
	font-family: 'Srisakdi', cursive;
	font-size: 4rem;
}

h4{
	font-size: 1.4rem;
	color: #e87c6e;
}

hr{	
	border: none;
	background-color: #e87c6e;
	height: 1px;
	margin: 2rem 0;
}

img{
	border-radius: 1rem;
	display: none;
	float: left;
	width: 90%;
	margin-left: 5%;

	/*Blue border*/
	box-sizing: border-box;
	padding: 2px;
	background-color: #52aeff;
	
}

label{
	color: #414141;
	margin-left: 0.5rem;
}

.body p{
	color: #52aeff;
	font-size: 1.1rem;
	padding-bottom: 1rem;
}

.container{
	border-radius: 1rem;
	margin: 0 auto;
	width: 90%;

}

.header{
	text-align: center;
}

@media only screen and (min-width: 480px){
	img{
		width: 70%;
		margin-left: 15%;
	}
}

@media only screen and (min-width: 600px){
	img{
		width: 40%;
		margin: 5%;
	}
}

@media only screen and (min-width: 768px){
	img{
		width: 30%;
		margin: 1.66%;
	}
}

@media only screen and (min-width: 992px){


}

@media only screen and (min-width: 1200px){
	img{
		width: 20%;
		margin: 2.5%;
	}
}
